.btnWrapper {
  display: flex;
  float: row;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 35px;
  border: 1px solid black;
  background-color: gainsboro;
  border-radius: 5px;
  padding: 5px 15px;
}
